<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/fc.png">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="../../vlive.css" type="text/css"><link rel="stylesheet" href="./index_mobile.css">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta charset="UTF-8">
    <title>IZ*ONE STREAMING</title>
</head>

<body>
    <header>
        <a href="/">
            <div id="logo">
                <img src="../../IZONE_logo.png" alt="logo" style="width:267px;padding-left:2.438em;">
            </div>
        </a>
        <form action = "/search" method="post" id="search">
            <input type="textarea" name="searchInput" id="searchInput">
            <input type="submit" id="searchButton" value="검색">
        </form>
    </header>
    <nav>
        <span>
            <a href="/showcon">쇼케이스</a>
        </span>|
        <span>
            <a href="/onechu">아이즈원 츄</a>
        </span>|
        <span>
            <a href="/vlive">V LIVE</a>
        </span>|
        <span>
            <a href="/cam">직캠</a>
        </span>|
        <span>
            <a href="/other">기타</a>
        </span>|
    </nav>
    <%if(check){%>
        <h1 style="text-align:center;">(아이즈원 직캠들입니다.)</h1><br>
        
        <%for(var i in idarray){%>
        <%if(idarray[i]==161){%>
            <h1><a href="/videos/(CAM)<%=idarray[i]%>.webm" style="display:block;text-align:center;font-size:3rem;"><%=stringarray[i]%></a></h1><br>
            <%}%>
        <%if(idarray[i]>=162){%>
            <h1><a href="/videos/(CAM)<%=idarray[i]%>.mp4" style="display:block;text-align:center;font-size:3rem;"><%=stringarray[i]%></a></h1><br>
            <%}%>
        <%if(idarray[i]<161){%>    
        <h1><a href="/videos/(CAM)<%=idarray[i]%>.mkv" style="display:block;text-align:center;font-size:3rem;"><%=stringarray[i]%></a></h1><br>
        <%}%>
        <%}%>
    <%}%>
    <%if(!check){%>
        <h1 style="text-align:center;">(맨 밑부터 가장 오래된 순입니다.)</h1><br>
        <%for(var i in idarray){%>
            <%if(idarray[i] == 93){%>
                <h1><a href="/videos/(VLIVE) (1080P) <%=idarray[i]%>.mp4" style="display:block;text-align:center;font-size:3rem;"><%=stringarray[i]%></a></h1><br>
            <%}%>
            <%if(idarray[i] > 96){%>
                <h1><a href="/videos/(VLIVE) (1080P) <%=idarray[i]%>.mp4" style="display:block;text-align:center;font-size:3rem;"><%=stringarray[i]%></a></h1><br>
            <%}%>
            <%if(idarray[i]<93 || idarray[i] == 96){%>
                <h1><a href="/videos/(VLIVE) (720P) <%=idarray[i]%>.mp4" style="display:block;text-align:center;font-size:3rem;"><%=stringarray[i]%></a></h1><br>
            <%}%>
        <%}%>
    <%}%>
</body>

</html>